
.cell-border{
  outline: 1px solid black;
}

.Grid{
  overflow: visible;
}

.panelList{
  list-style: none;
  padding-left: inherit;
}

.SurfaceObjectsPanels{
}

.listItem{
  text-align: left;
}

.Cell{
  position: relative;
}

ul{
  padding: none !important;
}

.grass{
  background-color:#7ec850;
}

.dirt{
  background-color: #9b7653;
}

.rock{
  background-color: #888c8d;
}

.water{
  background-color: #1ca3ec;
}

.tree{
  background-color: #006400;
}

.bush{
  background-color: #556B2F;
}

.gridBackground{
  background-color: white;
}
  
.mapContainer {
  display: flex;
  padding-left: 5%;
  justify-content: center;
  padding-right: 10%;
  position: relative;
}

.Map{
  display:flex;
}

body{
  background-color: white;
}

svg {
  pointer-events: none;
  z-index: 2;
}

.svg {
  height: 100px;
  width: 100px;
  top: 0;
  left: 0;
  overflow: visible;
  position: absolute;
}

.preLoad{
  width: 12%;
  margin-left: 30%;
  margin-right: 30%;
}

.saveBar{
  display: flex;
  padding-top: 15%;
  padding-bottom: 15%;
  justify-content: space-between;
  align-items: center;
}

.mapControls{
  display: flex;
  flex-direction: column;
}

.leftContainer{
  display: flex;
  flex-direction: column;
  width:15%;
}

.editorControls{
  display: flex;
  padding-left: 20%;
  padding-bottom: 1%;
}

.Map-Editor{
  text-align: center;
  
}

.preEditor{
  width: 100%;
  display: flex;
  justify-content: center;
}