@font-face {
  font-family: Poppins;
  src: url(https://fonts.google.com/specimen/Poppins);
}

.navBar{
  display: flex;
  justify-content: start;
  align-items: center;
}

.navItem{
  padding-left: 1%;
  font-weight: 700;
  font-size: 26px;
  color: hsl(255, 11%, 22%);  
}

.navBtn{
  text-decoration: none;
  color: hsl(257, 7%, 63%);
  font-weight: 500;
  font-size: 16px;
}

.navBtn:hover{
  color: hsl(255, 11%, 22%);
}

.button{
  background-color:hsl(180, 66%, 49%);
  color:white;
  font-family: Poppins, sans-serif;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 2%;
  padding-right: 2%;
  margin: 1%;
  border:none;
  border-radius: 5%;
  max-width: 100%;
  width: 100%;
  max-height: 100%;
}

.button:hover{
  background-color: hsl(257, 27%, 26%);
}


.App{
  font-family: Poppins, sans-serif;
}